site-packages/* linguist-vendored linguist-generated
"Pyto Mac/PyObjC/*" linguist-vendored linguist-generated
"Pyto Mac/pip/*" linguist-vendored linguist-generated
libpng/* linguist-vendored linguist-generated

*.pbxproj merge=union
