site-packages/* linguist-vendored linguist-generated
downloadable-site-packages/* linguist-vendored linguist-generated
Pyto_Mac/PyObjC/* linguist-vendored linguist-generated
Pyto_Mac/pip/* linguist-vendored linguist-generated
Pyto_Mac/mac-site-packages/* linguist-vendored linguist-generated
libpng/* linguist-vendored linguist-generated
libjpeg/* linguist-vendored linguist-generated
python3_ios/* linguist-vendored linguist-generated
docs_build/* linguist-vendored linguist-generated
"./SwiftUI Views/Preview Content/pypi_index.html" linguist-generated
PyNacl/* linguist-vendored linguist-generated
*.pbxproj merge=union

