
[submodule "InputAssistant"]
	path = InputAssistant
	url = https://github.com/ColdGrub1384/InputAssistant.git
[submodule "TextKit_LineNumbers"]
	path = TextKit_LineNumbers
	url = https://github.com/ColdGrub1384/TextKit_LineNumbers.git
