
[submodule "InputAssistant"]
	path = InputAssistant
	url = https://github.com/ColdGrub1384/InputAssistant.git
[submodule "TextKit_LineNumbers"]
	path = TextKit_LineNumbers
	url = https://github.com/ColdGrub1384/TextKit_LineNumbers.git
[submodule "Extensions/Dependencies/numpy"]
	path = Extensions/Dependencies/numpy
	url = https://github.com/numpy/numpy.git
[submodule "Extensions/Dependencies/pandas"]
	path = Extensions/Dependencies/pandas
	url = https://github.com/pandas-dev/pandas.git
[submodule "Extensions/Dependencies/matplotlib"]
	path = Extensions/Dependencies/matplotlib
	url = https://github.com/matplotlib/matplotlib.git
[submodule "Extensions/Dependencies/lxml"]
	path = Extensions/Dependencies/lxml
	url = https://github.com/lxml/lxml.git
[submodule "Extensions/Dependencies/libxml2"]
	path = Extensions/Dependencies/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "Extensions/Dependencies/libxslt"]
	path = Extensions/Dependencies/libxslt
	url = https://github.com/ColdGrub1384/libxslt.git
[submodule "Extensions/Dependencies/Pillow"]
	path = Extensions/Dependencies/Pillow
	url = https://github.com/python-pillow/Pillow.git
[submodule "Extensions/Dependencies/nacl"]
	path = Extensions/Dependencies/nacl
	url = https://github.com/pyca/pynacl.git
[submodule "Extensions/Dependencies/kiwisolver"]
	path = Extensions/Dependencies/kiwisolver
	url = https://github.com/nucleic/kiwi.git
[submodule "Extensions/Dependencies/biopython"]
	path = Extensions/Dependencies/biopython
	url = https://github.com/biopython/biopython.git
[submodule "Extensions/Dependencies/pywt"]
	path = Extensions/Dependencies/pywt
	url = https://github.com/PyWavelets/pywt.git
[submodule "Extensions/Dependencies/bcrypt"]
	path = Extensions/Dependencies/bcrypt
	url = https://github.com/pyca/bcrypt.git
[submodule "Extensions/Dependencies/statsmodels"]
	path = Extensions/Dependencies/statsmodels
	url = https://github.com/statsmodels/statsmodels.git
[submodule "Extensions/Dependencies/pyzmq"]
	path = Extensions/Dependencies/pyzmq
	url = https://github.com/zeromq/pyzmq.git
[submodule "Extensions/Dependencies/regex"]
	path = Extensions/Dependencies/regex
	url = https://bitbucket.org/mrabarnett/mrab-regex.git
[submodule "Extensions/Dependencies/gensim"]
	path = Extensions/Dependencies/gensim
	url = https://github.com/RaRe-Technologies/gensim.git
[submodule "Extensions/Dependencies/pyemd"]
	path = Extensions/Dependencies/pyemd
	url = https://github.com/wmayner/pyemd.git
[submodule "Extensions/Dependencies/astropy"]
	path = Extensions/Dependencies/astropy
	url = https://github.com/astropy/astropy.git
[submodule "Extensions/Dependencies/sklearn"]
	path = Extensions/Dependencies/sklearn
	url = https://github.com/scikit-learn/scikit-learn.git
[submodule "Extensions/Dependencies/skimage"]
	path = Extensions/Dependencies/skimage
	url = https://github.com/scikit-image/scikit-image.git
[submodule "Extensions/Dependencies/scipy"]
	path = Extensions/Dependencies/scipy
	url = https://github.com/scipy/scipy.git
[submodule "freetype2-ios"]
	path = freetype2-ios
	url = https://github.com/cdave1/freetype2-ios.git
[submodule "Extensions/Dependencies/erfa"]
	path = Extensions/Dependencies/erfa
	url = https://github.com/liberfa/pyerfa.git
[submodule "Extensions/Dependencies/typed_ast"]
	path = Extensions/Dependencies/typed_ast
	url = https://github.com/python/typed_ast.git
[submodule "Extensions/Dependencies/cryptography"]
	path = Extensions/Dependencies/cryptography
	url = https://github.com/pyca/cryptography.git
