
[submodule "ios_system"]
	path = ios_system
	url = https://github.com/ColdGrub1384/ios_system.git
[submodule "InputAssistant"]
	path = InputAssistant
	url = https://github.com/IMcD23/InputAssistant.git
