site-packages/* linguist-vendored=false linguist-generated
docs/python-3.7.2-docs-html/* linguist-vendored=false linguist-generated
libpng/* linguist-vendored=false linguist-generated
Pyto/* linguist-vendored=false linguist-generated
