<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>pyto.backgroundfetch</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Python Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.python-script</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>420</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>420</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dark 2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark 2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dark 3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark 3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dark 4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark 4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dark 5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark 5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dark 6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark 6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dark 7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark 7</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Light 2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Light 2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Light 3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Light 3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Light 4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Light 4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Light 5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Light 5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Light 6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Light 6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Stripes</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Stripes</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Type</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Type</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>420</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>420</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dark 2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark 2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dark 3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark 3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dark 4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark 4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dark 5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark 5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dark 6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark 6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dark 7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark 7</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Light 2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Light 2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Light 3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Light 3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Light 4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Light 4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Light 5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Light 5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Light 6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Light 6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Stripes</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Stripes</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Type</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Type</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pyto-run</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pyto</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>INIntentsSupported</key>
	<array>
		<string>RunScriptIntent</string>
		<string>RunCodeIntent</string>
		<string>ImportModuleIntent</string>
		<string>GetPropertyIntent</string>
		<string>CallFunctionIntent</string>
		<string>SetPropertyIntent</string>
		<string>GetObjectDescriptionIntent</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>pisth</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Scripts can play music.</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow camera usage if you want to allow scripts accessing to it. The app itself doesn't require photo library access.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Scripts can access location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow microphone usage if you want to allow scripts accessing to it. The app itself doesn't require access to the microphone.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow photo library usage if you want to allow scripts accessing to it or if you want to save Matplotlib figures. The app itself doesn't require photo library access.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow photo library usage if you want to allow scripts accessing to it. The app itself doesn't require photo library access.</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.ch.marcela.ada.Pyto</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Pyto</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>CallFunctionIntent</string>
		<string>GetObjectDescriptionIntent</string>
		<string>GetPropertyIntent</string>
		<string>GetScriptOutputIntent</string>
		<string>ImportModuleIntent</string>
		<string>PythonScript</string>
		<string>RunCodeIntent</string>
		<string>RunScriptIntent</string>
		<string>ScriptIntent</string>
		<string>SetContentInAppIntent</string>
		<string>SetPropertyIntent</string>
		<string>ch.marcela.ada.Pyto.script</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Document Browser</string>
					<key>UISceneDelegateClassName</key>
					<string>Pyto.SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypePlay</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>REPL</string>
			<key>UIApplicationShortcutItemType</key>
			<string>REPL</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>PyPi</string>
			<key>UIApplicationShortcutItemType</key>
			<string>PyPi</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
</dict>
</plist>
