<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>astropy</key>
	<array>
		<string>numpy</string>
	</array>
	<key>dask</key>
	<array/>
	<key>jmespath</key>
	<array/>
	<key>joblib</key>
	<array/>
	<key>smart_open</key>
	<array/>
	<key>boto</key>
	<array/>
	<key>boto3</key>
	<array>
		<string>botocore</string>
	</array>
	<key>botocore</key>
	<array/>
	<key>pywt</key>
	<array/>
	<key>bcrypt</key>
	<array/>
	<key>bio</key>
	<array/>
	<key>cryptography</key>
	<array/>
	<key>cv2</key>
	<array/>
	<key>gensim</key>
	<array>
		<string>numpy</string>
		<string>scipy</string>
		<string>smart_open</string>
		<string>boto</string>
		<string>botocore</string>
		<string>boto3</string>
	</array>
	<key>lxml</key>
	<array/>
	<key>matplotlib</key>
	<array>
		<string>numpy</string>
	</array>
	<key>nacl</key>
	<array/>
	<key>numpy</key>
	<array/>
	<key>pandas</key>
	<array>
		<string>numpy</string>
	</array>
	<key>regex</key>
	<array/>
	<key>scipy</key>
	<array>
		<string>numpy</string>
	</array>
	<key>skimage</key>
	<array>
		<string>numpy</string>
		<string>scipy</string>
		<string>networkx</string>
		<string>pywt</string>
		<string>imageio</string>
	</array>
	<key>sklearn</key>
	<array>
		<string>scipy</string>
		<string>numpy</string>
		<string>joblib</string>
	</array>
	<key>statsmodels</key>
	<array>
		<string>pandas</string>
		<string>scipy</string>
	</array>
	<key>zmq</key>
	<array>
		<string>numpy</string>
	</array>
</dict>
</plist>
