
body {
    font-family: Helvetica;
}

a {
    color: rgb(0, 122, 255);
    text-decoration: none;
}

.compatible {
    color: orange;
}

.incompatible {
    color: darkgray;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
